<p>
    给您一个单词，其中的字母可以有不同的大小写。您的任务是检查该行是否正确使用了大小写。如果全部正确 - 返回<b>{% if is_js %}t{% else %}T{% endif %}rue</b> ，如果有错误 - 返回<b>{% if is_js %}f{% else %}F{% endif %}alse</b> 。
</p><p>

    正确使用大小写的例子：
</p>
<p>
    <li>字符串中的所有字符均为大写。例如，"CHECKIO"；</li>
    <li>所有字符均不大写。例如，"checkio"；</li>
    <li>只有第一个字符为大写。例如，"CHECKIO"。</li>
</p>
<p>
   <strong>输入：</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>输出：</strong>逻辑值<span>(bool{% if is_js %}ean{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
