<p>
    Вам задано слово, в якому літери можуть стояти в різних регістрах. Ваше завдання - перевірити, чи правильно було використано регістр у рядку. Якщо все правильно - поверніть <b>{% if is_js %}t{% else %}T{% endif %}rue</b>, якщо є помилки - поверніть <b>{% if is_js %}f{% else %}F{% endif %}alse</b></p>.<p>
</p><p>

    Приклади правильного використання регістрів:
</p>
<p>
    <li>Усі символи у рядку є великими літерами. Наприклад, "CHECKIO";</li>
    <li>Жоден з символів не є верхнім регістром. Наприклад, "checkio";</li>
    <li>Тільки перший символ у верхньому регістрі. Наприклад, "Checkio".</li>
</p>
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Вихідні</strong> дані: Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
