<p>
    Тобі дано слово, в якому букви можуть бути в різному регістрі. Твоя задача перевірити на чи коректно в рядку використали
    регістр. Якщо все вірно - поверни <b>{% if is_js %}t{% else %}T{% endif %}rue</b>, якщо є помилки - поверни <b>{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p>
<p>
    Приклади вірного використання регістрів:
</p>
<p>
    <li>Усі символи в рядку пишуться у верхньому регістрі. Наприклад, "CHECKIO";</li>
    <li>Жоден із символів не написаний у верхньому регістрі. Наприклад, "checkio";</li>
    <li>Лише перший символ у верхньому регістрі. Наприклад, "Checkio".</li>
</p>
<p>
    <strong>Вхідні дані:</strong> Рядок.

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>

<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
