<p>
    On vous donne un mot dans lequel les lettres peuvent être dans des cas différents. Votre tâche consiste à vérifier si la casse a été utilisée correctement dans la ligne. Si tout est correct - retournez <b>{% if is_js %}t{% else %}T{% endif %}rue</b>, s'il y a des erreurs - retournez <b>{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p><p>

    Exemples d'utilisation correcte des minuscules et des majuscules:
</p>
<p>
    <li>Tous les caractères de la chaîne sont en majuscules. Par exemple, "CHECKIO";</li>
    <li>Aucun des caractères n'est en majuscule. Par exemple, "checkio";</li>
    <li>Seul le premier caractère est en majuscules. Par exemple, "Checkio".</li>
</p>
<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Sortie:</strong> Valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
